[submodule "client"]
	path = client
	url = https://github.com/skydtrtzmr/quartz.git
	branch = dev
[submodule "server"]
	path = server
	url = https://github.com/skydtrtzmr/go-quartz-api-server.git
	branch = dev
[submodule "plugins-local/reader-mode-pro"]
	path = plugins-local/reader-mode-pro
	url = https://github.com/skydtrtzmr/quartz-community_reader-mode
[submodule "plugins-local/footer-pro"]
	path = plugins-local/footer-pro
	url = https://github.com/skydtrtzmr/quartz-community_footer.git
	branch = dev
[submodule "plugins-local/content-meta-pro"]
	path = plugins-local/content-meta-pro
	url = https://github.com/skydtrtzmr/quartz-community_content-meta.git
	branch = dev
[submodule "plugins-local/content-index-pro"]
	path = plugins-local/content-index-pro
	url = https://github.com/skydtrtzmr/quartz-community_content-index.git
	branch = dev
[submodule "plugins-local/search-pro"]
	path = plugins-local/search-pro
	url = https://github.com/skydtrtzmr/quartz-community_search.git
	branch = dev
[submodule "plugins-local/explorer-pro"]
	path = plugins-local/explorer-pro
	url = https://github.com/skydtrtzmr/quartz-community_explorer.git
	branch = dev
[submodule "plugins-local/graph-pro"]
	path = plugins-local/graph-pro
	url = https://github.com/skydtrtzmr/quartz-community_graph.git
	branch = dev
[submodule "plugins-local/note-properties-pro"]
	path = plugins-local/note-properties-pro
	url = https://github.com/skydtrtzmr/quartz-community_note-properties
	branch = dev
[submodule "plugins-local/crawl-links-pro"]
	path = plugins-local/crawl-links-pro
	url = https://github.com/skydtrtzmr/quartz-community_crawl-links
	branch = dev
[submodule "plugins-local/virtual-node-pro"]
	path = plugins-local/virtual-node-pro
	url = https://github.com/skydtrtzmr/quartz-community_virtual-node-pro.git
	branch = dev
[submodule "plugins-local/aggregation-pro"]
	path = plugins-local/aggregation-pro
	url = https://github.com/skydtrtzmr/quartz-community_aggregation-pro.git
	branch = dev
[submodule "plugins-local/aggregation-page-pro"]
	path = plugins-local/aggregation-page-pro
	url = https://github.com/skydtrtzmr/quartz-community_aggregation-page.git
	branch = dev
